keystore:
  classpath: keystore.jks
  password: leap2021
  certificate-alias: leap_certificate
timestamp-authority:
  url:
sls:
  url: http://34.94.253.50:9091
hapi-fhir:
  url: http://34.94.253.50:8080/hapi-fhir-jpaserver/fhir/
  org-reference: Organization/privacy-consent-scenario-H-healthcurrent
  org-display: HealthCurrent FHIR Connectathon

spring:
  liquibase:
    change-log: classpath:db/changelog/changelog.xml
    enabled: true
  jpa:
    hibernate:
      ddl-auto: none
  datasource:
     url: jdbc:mysql://${DB_NAME:localhost:3306/leap_consent?useUnicode=true&characterEncoding=utf8&useSSL=false&useLegacyDatetimeCode=false&serverTimezone=UTC&jdbcCompliantTruncation=false&createDatabaseIfNotExist=true}
     username: ${DB_USER:root}
     password: ${DB_PASS:root}

logging:
  level:
    liquibase: INFO
